*
{
margin:0;
}
header{
	height: 600px;
	background-color: black;
	background-image: url('../img/headphones.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
section{
	height: 550px;
	background-color: black;
	padding: 50px;
}

img{
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1{
	color: whitesmoke;
	text-align: center;
}
a{
	color: whitesmoke;
}
li::marker 
{
  color: whitesmoke;
}
p{
	color: whitesmoke;
	font-size: 24px;
	text-align: justify;
}
nav{
	max-width: 900px;
	margin: auto;
	background-color: black;
	font-size: 20px;
	margin-top: 50px;
}

.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
	}

	.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}

.menu-horizontal > li:hover{
	background-color: gray;
}

.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

#nombre{
   text-align: right;
}

footer {
    background-color: #000000; /* Fondo blanco */
    color: #ffffff; /* Texto negro */
    padding: 20px 10px; /* Espaciado interno */
    text-align: center;
    font-family: 'Arial', sans-serif;
    border-top: 2px solid #ffffff; /* Línea negra en la parte superior */
    position: relative;
}

footer p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    position: absolute; /* Posición absoluta */
    top: 10px; /* Alineado hacia la parte superior del footer */
    left: 50%; /* Centramos horizontalmente */
    transform: translateX(-50%); /* Corrección para centrar */
}

footer .links, footer .social {
    margin: 40px 0 10px; /* Espaciado para separar enlaces del copyright */
}

footer a {
    color: hsl(0, 0%, 100%); /* Texto negro */
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #666; /* Cambia a gris oscuro en hover */
}

footer .links {
    
    padding-bottom: 10px;
}

footer .social a {
    margin-top: 5px;
    display: inline-block;
}
